---
import { tags } from "../../util/const";

const static_version = '^4.0.0';

const config = {
  local_backend: import.meta.env.DEV,
  backend: {
    name: import.meta.env.DEV ? "git-gateway" : 'test-repo',
  },
  media_folder: "/src/assets",
  public_folder: "/",
  collections: [
    {
      name: "blog",
      label: "Blog",
      folder: "src/content/blog",
      create: true,
      slug: "post-{{slug}}",
      fields: [
        {
          label: "Titulo",
          name: "title",
          widget: "string"
        },
        {
          label: "Description",
          name: "desc",
          widget: "string"
        },
        {
          label: "Publicación",
          name: "datePub",
          widget: "datetime",
          time_format : false,
          default : "",
        },
        {
          label: "Imagen Promocional",
          name: "thumbnail",
          widget: "object",
          required: false,
          fields : [
            {
              label: "Imagen",
              name: "img",
              widget: "string"
            },
            {
              label: "Descripción",
              name: "alt",
              widget: "string"
            },
          ]
        },
        {
          label: "Tags",
          name: "tags",
          widget: "select",
          options : Object.keys(tags),
          multiple : true,
          default : [
            "html5" ,
          ] satisfies Array<keyof typeof tags>,
        },
        {
          label: "Relacionados",
          name: "related",
          widget: "relation",
          required: false,
          multiple : true,
          collection : 'blog',
          value_field : '{{slug}}',
          display_fields : ['title'],
          search_fields : ['title','datePub'],
        },
        {
          label: "Cuerpo",
          name: "body",
          widget: "markdown"
        }
      ]
    }
  ]
};
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Administración</title>
    <link rel="stylesheet" href={`https://unpkg.com/@staticcms/app@${static_version}/dist/main.css`} />

    <script is:inline src="https://identity.netlify.com/v1/netlify-identity-widget.js"/>
  </head>
  <body>
    <!-- Include the script that builds the page and powers Static CMS -->
    <script  is:inline src={`https://unpkg.com/@staticcms/app@${static_version}/dist/static-cms-app.js`} />
    <script is:inline define:vars={{ config }}>
      CMS.init({ config });
      
    </script>
  </body>
</html>